.moviesTable{
  width: 600px;
  display:block;
  margin: 30px;
  margin-left:  auto;
  margin-right: auto;
  padding: 10px;
  background-color:rgb(82, 98, 116) ;
  text-align: center;
}
thead{
  background-color:rgb(183, 206, 170);
}
td{
  width: 140px;
}
