.movieFrame{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 500px;
  background-color: yellow;
  padding: 10px;

}
.movieHead{
  display: inline-block;
  width: 300px;
  float: left;
}
.movieDescription{
  display: inline-block;
  width: 600px;
  float: right;
}
.movieButton{
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px 33px;

}
