.movieFrame{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  background-color: rgb(224, 226, 190);
  padding: 10px;

}
body{
  background-color: rgb(185, 164, 189)
}

.movieHead{
  display: inline-block;
  float: left;
  margin: 15px;
}
.movieDescription{
  display: inline-block;
  margin: 15px;
  min-width: 300px;
}
.movieButton{
  display: block;
  width: 130px;
  height: 40px;
  margin: 10px 33px;

}
label{
  font-weight: bold;
}
