<div class="headerDesign">
  <img src="../../assets/headerImage.png" height="200px">
</div>
<nav class="navbar">
      <ul>
          <li class="nav-item"><a routerLink='/'>Home</a></li>
          <li class="nav-item"><a routerLink="movies">Movie Catalog</a></li>
          <li class="nav-item"><a routerLink="statistics">Statistics</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" routerLink="user">My Account</a>
            <div class="dropdown-content">
              <a href="#" routerLink="user">Personal Data</a>
              <a href="#" routerLink="user/tickets">My Tickets</a>
              <a href="#">Log Out</a>
            </div>
          </li>
          <li class="signup"><a routerLink="auth/login">Login</a></li>
          <li class="signup"><a routerLink="auth/signup">Sign Up</a></li>

      </ul>
</nav>

