table{
  width: 600px;
  display:block;
  margin: 30px;
  margin-left:  auto;
  margin-right: auto;
  padding: 10px;
  background-color:rgb(206, 180, 180) ;
  text-align: center;
}
thead{
  background-color:rgb(173, 136, 136);
  font-weight: bold;
}


td{
  width: 300px;
}
h3{
  text-align: center;
}
