<table>

  <thead>
    <th>On-site tickets</th>
    <tr>
      <td>
        ID
      </td>
      <td>
        Price
      </td>
      <td>
        Seat No.
      </td>
      <td>
        Refund Data
      </td>
    </tr>
  </thead>
</table>

<table>

  <thead>
    <th>Streaming tickets</th>
    <tr>
      <td>
        Price
      </td>
      <td>
        Unique Code
      </td>
      <td>
        Link
      </td>
      <td>
        Refund Date (Optional)
      </td>
    </tr>
  </thead>
</table>
