<div class="userPanel">
  <div class="userInfo">
    <table>
      <tr>
        <th>Name</th>
        <td>FirstName</td>
        <td>LastName</td>
      </tr>
      <tr>
        <th>e-mail</th>
        <td>user@mail.com</td>
      </tr>
      <tr>
        <th>
          Phone Number
        </th>
        <td>
          0671234567
        </td>
      </tr>
    </table>
  </div>
  <div class="userCash">
    <table>
      <tr>
        <th>My Balance</th>
        <td>800.00 eur</td>
      </tr>
      <tr>
        <td>
          <input type="text" placeholder="add money to your balance">
        </td>
        <td>
          <button>Add Funds</button>
        </td>
      </tr>
      <tr>
        <th> My Refund Credits </th>
        <td> 0.00 eur </td>
      </tr>
    </table>

  </div>
</div>
