mat-card {
  margin: 20px;
}

.dx, .regular{

  text-align: left;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 19px;
}
.dx{
  background-color: rgb(205, 148, 238);
}
.regular{
  background-color: rgb(148, 238, 175);
}
