div{
  display: block;
  width: 700px;
  background-color: rgb(204, 174, 179);
  margin: 0 auto;
  padding: 14px;
  margin-top: 20px;
  border-radius: 8px 8px 8px 8px;
  text-align: justify;

}
button{
  background-color: rgb(214, 45, 45);
  color: white;
  text-shadow: 1px 1px black;
}
