<body>
  <div>
    <button mat-raised-button class="movieButton" type="button" (click)="initDB()" >Init Db!</button>
  </div>
  <div>
    <h2>
      Welcome to our Cinema!
    </h2>
    <p>
      Our cinema offers two types of tickets:
    </p>
    <ol>
      <li>
        Regular tickets
      </li>
      <li>
        Streaming tickets
      </li>
    </ol>
    <p>Regular tickets offer the traditional move watching experience. The Streaming tickets were specifically designed
      to tackle the COVID-19 challenges and to provide movie lovers the next best possible solution for watching the latest movies.
      Using the streaming ticket is very simple and straightforward, and can be done in a matter of few steps:
    </p>
    <ul>
      <li>
        Purchase the streaming ticket
      </li>
      <li>
        Check under My Account -> My Tickets
      </li>
    </ul>
  </div>
  <div>
    <h3>
      New! - 4DX enabled movies
    </h3>
    <p>
      We are proud to announce the we are among the first cinemas to offer the new 4DX technology.
      The 4DX technology can only be experience on-site. 4DX offers an even more immersive and realistic experience while watching movies.
    </p>
  </div>

</body>
