<input class=searchbar type="text" placeholder="Enter movie title" [(ngModel)]="searchParamTitle">
<mat-accordion class="searchbar">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Release Year</mat-label>
      <mat-select (selectionChange)="selectYear($event.value)">
        <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age Restriction</mat-label>
      <mat-select (selectionChange)="selectRating($event.value)">
        <mat-option *ngFor="let rating of ratingList" [value]="rating">
          {{rating}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" (click)="setDetailedSearchParams()">Search</button>
  </mat-expansion-panel>
</mat-accordion>

  <table class="moviesTable">
  <thead>
    <td>
      Name:
    </td>
    <td>
      Release Date:
    </td>
    <td>
      Movie Runtime:
    </td>
    <td>
      Director:
    </td>
    <td>
      Rating:
    </td>
    <td>
      4DX:
    </td>
  </thead>
  <div *ngFor="let movie of movies">
    <tr *ngIf="(movie.title.includes(searchParamTitle)) &&
              (movie.releaseDate.includes(searchParamYear)) &&
              (movie.rating.match(searchParamRating))">
      <td><a [routerLink]="['moviedetails', movie.title, movie.releaseDate]">{{movie.title}}</a></td>
      <td>{{movie.releaseDate}}</td>
      <td>{{movie.runtime}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.rating}}</td>
      <td>{{movie.dx}}</td>
  </tr>
  </div>
</table>
