<input class= searchbar type="text" placeholder="Enter movie title">
<mat-accordion class="searchbar">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advanced Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="fill">
      <mat-label>Release Year</mat-label>
      <mat-select>
        <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age Restriction</mat-label>
      <mat-select>
        <mat-option *ngFor="let age of ages" [value]="age.value">
          {{age.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Search</button>
  </mat-expansion-panel>
</mat-accordion>

  <table class="moviesTable">
  <thead>
    <td>
      Name:
    </td>
    <td>
      Release Date:
    </td>
    <td>
      Movie Runtime:
    </td>
    <td>
      Director:
    </td>
    <td>
      Rating:
    </td>
    <td>
      4DX:
    </td>
  </thead>
  <tr *ngFor="let movie of movies">
    <td><li class="nav-item"><a routerLink='moviedetails'>{{movie["title"]}}</a></li></td>
    <td>{{movie["release_date"]}}</td>
    <td>{{movie["running_time"]}}</td>
    <td>{{movie["director"]}}</td>
    <td>{{movie["age_restriction"]}}</td>
    <td>{{movie["4DX"]}}</td>
  </tr>
</table>
